# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

GOOGLE_ANALYTICS_ID=
MAX_YEARS_AGO=20

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=0ad54a675136e40f589c8801ef23eac6
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

###> google/apiclient ###
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_APP_NAME=
###< google/apiclient ###
